In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

In [2]:
# Sean's pathname
pathname = '/Users/seantsung/Library/CloudStorage/Box-Box/Stanford CPET Projects/'

In [3]:
combined_cleaned_df = pd.read_parquet(pathname + 'BBB DATA/CPX datasets-selected/CleanedDatasets/combined_cleaned_df_111524.parquet')

In [4]:
# Yuewei's pathname
# pathname = '/Users/yueweiling/Documents/Data/cpet-ai/'
# combined_cleaned_df = pd.read_parquet(pathname + 'combined_cleaned_df_111524.parquet')

In [5]:
# combined_cleaned_df

In [6]:
outcomes_df = pd.read_excel(pathname + 'CPX database_outcomes_meds_7.18.xlsx', sheet_name='Outcomes_updated')

In [7]:
outcomes_df = outcomes_df.rename(columns={'Test Date': 'testDate'})

In [8]:
merged_df = pd.merge(combined_cleaned_df, outcomes_df, on=['MRN', 'testDate'], how='inner')

In [9]:
# Duplicates in the 'MRN' column and their counts
duplicate_counts = merged_df['MRN'].value_counts()
duplicate_counts[duplicate_counts > 1]

MRN
29833241.0    7
27293620.0    7
27623719.0    6
30000046.0    6
22759351.0    6
             ..
20874251.0    2
17715855.0    2
29911583.0    2
40758831.0    2
26776229.0    2
Name: count, Length: 598, dtype: int64

In [37]:
merged_df[merged_df['MRN'] == 29833241.0][['testDate'] + composite_outcome_yrs_columns]

,testDate,post_cardiac_arrest_yrs,post_cardiogenic_shock_yrs,post_ecmo_yrs,post_heart_lung_transplant_yrs,post_htx_yrs,post_iabp_yrs,post_mcs_extracardiac_yrs,post_mcs_implantable_yrs,post_mcs_percutaneous_yrs,post_renal_failure_requiring_dialysis_yrs,post_shockable_rhythm_yrs,post_ventricular_fib_flut_yrs
348,2017-09-08,NaN,0.99,NaN,1.00,1.00,NaN,NaN,NaN,NaN,1.07,NaN,NaN
1915,2016-09-30,NaN,1.93,NaN,1.94,1.94,NaN,NaN,NaN,NaN,2.01,NaN,NaN
2304,2016-08-26,NaN,2.02,NaN,2.04,2.04,NaN,NaN,NaN,NaN,2.10,NaN,NaN
2374,2017-03-10,NaN,1.49,NaN,1.50,1.50,NaN,NaN,NaN,NaN,1.57,NaN,NaN
2514,2014-12-09,NaN,3.74,NaN,3.75,3.75,NaN,NaN,NaN,NaN,3.82,NaN,NaN
3125,2017-09-08,NaN,0.99,NaN,1.00,1.00,NaN,NaN,NaN,NaN,1.07,NaN,NaN
3164,2018-03-14,NaN,0.48,NaN,0.49,0.49,NaN,NaN,NaN,NaN,0.56,NaN,NaN

In [11]:
# Keep only the latest CPET for each patient
merged_df_sorted = merged_df.sort_values(by=['MRN', 'testDate'], ascending=[True, False])
merged = merged_df_sorted.drop_duplicates(subset='MRN', keep='first')

In [1]:
#merged[merged['MRN'] == 29833241.0]

In [13]:
# merged

In [14]:
composite_outcome_columns = [
    "post_cardiac_arrest",
    "post_cardiogenic_shock",
    "post_ecmo",
    "post_heart_lung_transplant",
    "post_htx",
    "post_iabp",
    "post_mcs_extracardiac",
    "post_mcs_implantable",
    "post_mcs_percutaneous",
    "post_renal_failure_requiring_dialysis",
    "post_shockable_rhythm",
    "post_ventricular_fib_flut"
]

In [15]:
composite_outcome_yrs_columns = [
    "post_cardiac_arrest_yrs",
    "post_cardiogenic_shock_yrs",
    "post_ecmo_yrs",
    "post_heart_lung_transplant_yrs",
    "post_htx_yrs",
    "post_iabp_yrs",
    "post_mcs_extracardiac_yrs",
    "post_mcs_implantable_yrs",
    "post_mcs_percutaneous_yrs",
    "post_renal_failure_requiring_dialysis_yrs",
    "post_shockable_rhythm_yrs",
    "post_ventricular_fib_flut_yrs"
]

In [16]:
merged.shape

(2312, 223)

In [17]:
# Create a boolean Series that is True if any column in the row contains NaN
rows_with_na = merged[composite_outcome_columns].isna().any(axis=1)

# To get the rows where there is at least one NaN value, you can filter the DataFrame
merged[composite_outcome_columns][rows_with_na]

,post_cardiac_arrest,post_cardiogenic_shock,post_ecmo,post_heart_lung_transplant,post_htx,post_iabp,post_mcs_extracardiac,post_mcs_implantable,post_mcs_percutaneous,post_renal_failure_requiring_dialysis,post_shockable_rhythm,post_ventricular_fib_flut
342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1590,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0
1262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2391,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0
1986,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1084,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0
241,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0
1957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1887,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.0,NaN,0.0,NaN,0.0
1438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
merged = merged.dropna(subset=composite_outcome_columns)

In [19]:
merged['Death'].isnull().sum()

0

In [20]:
merged.shape

(2089, 223)

In [21]:
merged['composite_outcome'] = merged[composite_outcome_columns].max(axis=1)

In [22]:
merged['composite_outcome'].value_counts()

composite_outcome
0.0    1776
1.0     313
Name: count, dtype: int64

In [23]:
# Proportion of the occurrence for secondary outcomes
composite_outcome_counts = merged['composite_outcome'].value_counts()
composite_outcome_occurrence = composite_outcome_counts.get(1, 0) / composite_outcome_counts.sum() * 100
print(f"Proportion of the occurrence for composite outcomes: {composite_outcome_occurrence:.1f}%")

Proportion of the occurrence for composite outcomes: 15.0%

In [24]:
merged['composite_outcome_yrs'] = merged[composite_outcome_yrs_columns].fillna(1000).min(axis=1).replace({1000: np.nan})

In [25]:
merged['composite_outcome_yrs'].describe()

count    313.000000
mean       1.115208
std        1.264586
min        0.000000
25%        0.200000
50%        0.580000
75%        1.780000
max        6.560000
Name: composite_outcome_yrs, dtype: float64

In [26]:
merged['Death'].value_counts()

Death
0.0    2021
1.0      68
Name: count, dtype: int64

In [27]:
# Mortality
death_counts = merged['Death'].value_counts()
death_occurrence = death_counts.get(1, 0) / death_counts.sum() * 100
print(f"Mortality rate: {death_occurrence:.1f}")

Mortality rate: 3.3

---

**Assuming no events for patients with missing values**

In [28]:
merged['composite_outcome_yrs'] = merged[composite_outcome_yrs_columns].fillna(1000).min(axis=1).replace({1000: np.nan})

In [29]:
merged['composite_outcome'] = (merged[composite_outcome_columns].fillna(0).sum(axis=1) > 0).astype(int)

In [30]:
merged['composite_outcome_yrs'].describe()

count    313.000000
mean       1.115208
std        1.264586
min        0.000000
25%        0.200000
50%        0.580000
75%        1.780000
max        6.560000
Name: composite_outcome_yrs, dtype: float64

In [31]:
merged['composite_outcome'].value_counts()

composite_outcome
0    1776
1     313
Name: count, dtype: int64

In [32]:
merged[composite_outcome_columns].isnull().sum()

post_cardiac_arrest                      0
post_cardiogenic_shock                   0
post_ecmo                                0
post_heart_lung_transplant               0
post_htx                                 0
post_iabp                                0
post_mcs_extracardiac                    0
post_mcs_implantable                     0
post_mcs_percutaneous                    0
post_renal_failure_requiring_dialysis    0
post_shockable_rhythm                    0
post_ventricular_fib_flut                0
dtype: int64

In [33]:
(merged[composite_outcome_columns + ['Death']].fillna(0).sum(axis=1) > 0).astype(int).value_counts()

0    1754
1     335
Name: count, dtype: int64

In [34]:
merged['Death'].value_counts()

Death
0.0    2021
1.0      68
Name: count, dtype: int64